* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: green;
}

.hover-dropdown .dropdown {
  display: inline-block;
  position: relative;
  /* margin: 1rem; */
}

.hover-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.hover-dropdown .btn-dropdown {
  background-color: orange;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
}

.hover-dropdown .dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 1rem 1.5rem;
  overflow: auto;
}

.hover-dropdown .dropdown-content a:hover {
  background-color: #ddd;
}

.hover-dropdown .dropdown:hover .dropdown-content {
  display: block;
}

.hover-dropdown .dropdown:hover .btn-dropdown {
  background-color: #3e8e41;
}

/* Nav bar dropdown */

.navbar {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown-content {
  display: none;
  background-color: #f1f1f1;
  position: absolute;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar .btn-dropdown {
  background-color: black;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
}

.navbar a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #3e8e41;
}

.navbar .btn-dropdown:hover {
  background-color: #3e8e41;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar .dropdown-content a {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  text-align: left;
  overflow: auto;
}

/* Click able */
.btn-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-left: 1rem;
}

.click-dropdown .dropdown {
  display: inline-block;
  position: relative;
}

.click-dropdown .btn-dropdown {
  background-color: orange;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
}

.click-dropdown .btn-dropdown:hover {
  background-color: #3e8e41;
}

.click-dropdown .dropdown .show {
  display: block;
}

.click-dropdown .dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.click-dropdown .dropdown-content a {
  padding: 1rem 1.5rem;
  display: block;
  background-color: #f1f1f1;
  text-decoration: none;
}

.click-dropdown .dropdown-content a:hover {
  background-color: #3e8e41;
}

/* transition dropdown */

.header {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  background-color: #f3f3f3;
  margin-top: 1rem;
  padding: 0.5rem;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  /* padding: 0.5rem 1.5rem; */
}

.dropdown.active > .link,
.link:hover {
  color: black;
}

.header .dropdown {
  position: relative;
}

.header .dropdown-menu {
  position: absolute;
  left: 0.5rem;
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition:
    opacity 150ms ease-in-out,
    transform 150ms ease-in-out;
}

/* .dropdown.active > .link + .dropdown-menu { */
.dropdown.active .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1em;
}

.dropdown .link {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.login-form > .form-control input {
  margin-bottom: 0.5rem;
}
